# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
package-lock.json

# Build outputs
dist/
build/

# IDEs
.vscode/
.idea/

# Env files
.env

# Logs
*.log

# Misc
*.zip
*.tar.gz

# OneDrive temp
~$*

# Images cache
images/cache/
